# this token is for readonly access to the registry of public repositories

//npm.pkg.github.com/:_authToken=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
@laurci:registry=https://npm.pkg.github.com/
always-auth=true

